.Hero {
  width: 95vw;
  height: 65vh;
  overflow-x: hidden;

  background-image: url('../../../assets/images/Hero.svg');
  background-size: cover;
  transform: translateX(2.5vw);
}

.black {
  background-color: #111;
  background-image: none;
  height : 55vh;
}
