.WhatArticle {
    width : 65vw;
    height: 50vh;
    margin-left : 17.5vw;
    margin-top : 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    @media screen and (orientation : portrait) {
        width : 95vw;
        margin-left : 2.5vw;
        flex-direction: column-reverse;
    }

    &__first {
        width : 35%;
        height: 100%;

        display : flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        padding-top : 6vh;
        padding-bottom: 6vh;

        @media screen and (orientation : portrait) {
            width : 100%;
            height : 50%;
            align-items: center;
        }

        &__title {
            color : #8f8f8f;
            font-size : 1.6vh;
            font-weight: 500;
            text-transform: uppercase;

            @media screen and (orientation : portrait){
               transform: translateY(2vh);
            }
        }

        &__title2 {
            font-size : 4vh;
            font-weight: 400;

            
            @media screen and (orientation : portrait){
               transform: translateY(1vh);
               margin-top: 1vh;
               margin-bottom: 1vh;
            }
        }

        &__description {
            font-size : 1.9vh;
            color : gray;
            font-weight: 300;
            max-width: 90%;

            @media screen and (orientation : portrait){
                text-align: center;
                max-width: 98%;
                transform: translateY(1vh);
            }
        }

        &__button {
            cursor: pointer;
            color : white;
            background-color: #222;
            border: none;
            width : 10vw;
            height : 5vh;
            font-size: 1.6vh;

            transition: background-color 250ms;
            will-change: background-color;

            @media screen and (orientation : portrait){
                width : 15vh;
                height : 5vh;
                padding-top: 1vh;
                padding-bottom: 1vh;
                margin-top: 1vh;
                transform: translateY(1.5vh);
            }
        }

        &__button:hover {
            background-color: #333;
        }
    }

    .reverseFlex {
        justify-content: flex-start;
    }

    &__second {
        width : auto;
        height: 100%;

        display : flex;
        justify-content: flex-end;
        align-items: center;

        @media screen and (orientation : portrait){
            width : 100%;
            height : 45%;
        }

        &__image {
            height : 90%;
            display: block;

            @media screen and (orientation : portrait){
                width: 95vw;
                height: 27.5vh;
            }
        }
    }
}

.reverse {
    @media screen and (orientation : portrait){
        flex-direction: column-reverse;
    }
    flex-direction: row-reverse;
}