.NewsWrapper {
  width: 100vw;
  height: 60vh;

  &__ArticleContainer {
    width : 65vw;
    margin-top : 2.5vh;
    margin-left: 17.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
